body{
    margin: 0;
    font-size: 3rem;
}
#barra{
     width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: navy;
        }
#barra ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0% 3%;
}
#barra ul li a{
    text-decoration: none;
    color: white;
}